@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color--009853: #009853;
  --color--1C2025: #1c2025;
  --color--000000: #000000;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
html,
body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .theme {
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 导航栏样式 */
.navbar-link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 19px;
  margin-right: 30px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.navbar-link::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  height: 1px;
  width: 0;
  background: var(--color--009853);
  transition: all 0.3s ease-in;
}
.navbar-link:hover,
.navbar-link-active,
.navbar-link.active {
  color: #22b773;
}

.navbar-link:hover::after,
.navbar-link-active::after {
  width: 100%;
}
.navbar-link-btn {
  display: inline-block;
  width: 120px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background: #ffffff;
  border-radius: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #2a2a2a;
}

.navbar-child {
  width: 100%;
  padding: 39px;
  left: 0;
  background: var(--color--000000);
  cursor: pointer;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.jobs-detail {
  transform-origin: top;
  transition: all 0.3s ease-in-out;
  height: 0;
}
.jobs-detail.active {
  height: 100%;
}

.navbar-child.active {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}

.navbar-child-title {
  font-weight: 500;
  font-size: 18px;
  color: #5e5e5e;
  padding-right: 121px;
}
.navbar-child-item {
  font-size: 18px;
  color: #ffffff;
}

.line {
  transition: transform 0.3s ease;
  transform-origin: center;
}
.line-top,
.line-bottom {
  transform: rotate(0deg);
}
.rotate-none {
  opacity: 0;
}
.line-show {
  opacity: 1;
}
.rotate-top {
  transform: rotate(45deg) translateY(6px);
}

.rotate-bottom {
  transform: rotate(-45deg) translateY(-6px);
}
.mobile-navbar-menu {
  padding: 92px 20px 32px;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.3s ease-in-out;
}

.mobile-menu-open {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}
.mobile-menu-hide {
  opacity: 0;
  transform: scaleY(0);
  pointer-events: auto;
}

.accordion-init button {
  padding: 8px 0 !important;
}

.mobile-menu-title {
  font-size: 14px;
  color: #009853;
  line-height: 16px;
}

.animate-origin {
  transform-origin: bottom center;
}

.animate-enter {
  transform-origin: bottom center;
  animation: enter-animation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
@keyframes enter-animation {
  0% {
    transform: scale(0.95) translateY(40px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.bg-text {
  background: linear-gradient(90deg, #035265 0%, #009853 100%);
}

.country-bg {
  background: rgba(0, 0, 0, 0.6);
}

.country-head-bg {
  background-size: cover;
  background-position: center;
  background-position: center;
}
.payment-flow-bg {
  background-size: cover;
  background-position: center;
  background-position: center;
}

.join-bg {
  background-size: cover;
  background-position: center;
  background-image: url("/images/join/bg.png");
  background-repeat: no-repeat;
}

.country-card {
  background-size: cover;
  background-position: center;
  background-image: url("/images/country/card.png");
  background-repeat: no-repeat;
}
.country-card-progress {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.payins-page {
  background-size: cover;
  background-repeat: no-repeat;
}
.home-page {
  background-size: cover;
  background-repeat: no-repeat;
}

.custome-menu {
  background: #fff !important;
  padding: 0 !important;
  border-radius: 24px !important;
  border: 1px solid #e1e7f4;
}

.custome-menu-item {
  padding: 15px 0 !important;
  border-radius: 0 !important;
}
.custome-menu-item:hover,
.custome-menu-item-active {
  background-color: #9dd9ba !important;
  color: #000000 !important;
}

.custome-menu-item:first-child {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
}

.custome-menu-item:last-child {
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

.mx-pprogress {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
}

.select-country {
  transition: all 0.3s ease-in;
  transform-origin: center;
}

.menu-open {
  transform: rotate(180deg);
}

.menu-close {
  transform: rotate(0deg);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.sweep-away::after {
  content: "";
  position: absolute;
  inset: -20%;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0) 60%
  );
  animation: shark-wrap 5s infinite;
  transform: translateX(-100%);
  pointer-events: none;
}
@keyframes shark-wrap {
  to {
    transform: translateX(100%);
  }
}
.home-hover-text {
  transition: all 0.3s ease;
}

.home-hover:hover .home-hover-text {
  margin-left: 10px;
}

.home-hover-border {
  position: relative;
}
.home-hover-border::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #fff;
  opacity: 0;
  transform-origin: left;
}

.home-hover:hover .home-hover-border::after {
  animation: expandSize 0.6s ease-out forwards;
}

@keyframes expandSize {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.comment-progress {
  transform: rotate(-270deg);
  transition: all 0.2s ease-in-out;
  transform-origin: 50% 50%;
}

.toast {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  z-index: 100000;
  transition: opacity 0.3s ease;
  cursor: pointer;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toast .toast-msg {
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #fff;
}
